<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DS suite">
	<test verbose="2" name="testAuthentication">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testAuthentication" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testSetProfilePositiv">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testSetProfilePositiv" />
				</methods>
			</class>
		</classes>
	</test>	
	<test verbose="2" name="testSaveSchedule">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testSaveSchedule" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testCheckWrapper">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testCheckWrapper" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testCheckWrapperDirector">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testCheckWrapperDirector" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testCheckWrapperEditDSPage">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testCheckWrapperEditDSPage" />
				</methods>
			</class>
		</classes>
	</test>
		<test verbose="2" name="testSignOut">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testSignOut" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testHeader">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testHeader" />
				</methods>
			</class>
		</classes>
	</test>
	<test verbose="2" name="testMainMenuClick">
		<classes>
			<class name="com.exigen.shegula.tests.DSTestProfile">
				<methods>
					<include name="testMainMenuClick" />
				</methods>
			</class>
		</classes>
	</test>
</suite> 

